@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');

:root{
    --main-color: #5c646d;
    --light: #E3E3E3;
    --secundary-color: #e36209;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
}